<div class="grid-container">
  <div class="row">
    <div class="columns">   
<div class="nes-container is-rounded" id="fill-text-box">
  <p>Rules</p>
  <p>PokeBattle</p>
</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">  
  <button type="button" id= "next-page" class="nes-btn is-error">Battle Pokémon</button>
  </div>
</div>

