  <div id="audioBtns">         
            <button class="audiobutton nes-btn" id="play"><i class="fa fa-play"></i></button>
						<button class="audiobutton nes-btn" id="pause"><i class="fa fa-pause"></i></button>
						<button class="audiobutton nes-btn" id="softer"><i class="fa fa-volume-down"></i></button>
						<button class="audiobutton nes-btn" id="louder"><i class="fa fa-volume-up"></i></button>
  </div> 
   
<div class="grid-container">
  <div class="row" id="front-pg-padding">
    <div class="columns">   
<div class="nes-container is-rounded" id="fill-text-box">
  <h3>Rules</h3>
  <div id="typewriter">
    <p id="typewriterone"></p>
    
    </div>
</div>
    </div>
  </div>
</div>

<div class="row" id="front-pg-padding">
  <div class="columns">  
  <button type="button" id= "next-page" class="nes-btn is-error">Enter Arena</button>
  
  </div>
</div>

