<div class="grid-container">
  <div class="row" id="front-pg-padding">
    <div class="columns">   
<div class="nes-container is-rounded" id="fill-text-box">
  <h3>Rules</h3>
  <div class="typewriter">
    <p>Welcome all trainers!</p>
    <p>Have you ever had a dispute between friends that ended in disaster?</p>
    <p>From calling 'shotgun' to claiming the last slice of pizza, PokéBattle is for you!</p> 
    <p>Enter the arena, generate your pokemon, and battle to see who wins!</p> 
    </div>
</div>
    </div>
  </div>
</div>

<div class="row" id="front-pg-padding">
  <div class="columns">  
  <button type="button" id= "next-page" class="nes-btn is-error">Enter Arena</button>
  </div>
</div>

