{{!-- <h1 align="center">These are all the users to loop through</h1> --}}

<h1 align="center"> Battle Results </h1>  {{!--inserted from results.html--}}
 {{!--inserted from results.html--}}
  
     
<h3 align="center" id="userWhoWon"> The winner is: </h3>
<h3 align="center" id="winningPokemon">Winning Pokemon: </h3>
<h3 align="center" id="winningPokemonImage"></h3>
<h3 align="center" id="userHighScore"></h3>


<a href="/" type="button" align="center" id="return-main" class="nes-btn is-error">Home</a>


<script src="/assets/js/results.js"></script>