/* elements */
body {
  background-image: url("/assets/img/daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
h3,
h4 {
	font-family: "Press Start 2P", serif;
}
h3 {
	text-transform: capitalize;
}
button#goResultsPage.nes-btn.is-primary {
  display: block;
	margin-left: auto;
  margin-right: auto;
  background-color: #588edf;
}
div#fill-text-box.nes-container.is-rounded{
  background-color: #faf9ff;
}
section.nes-container{
  background-color: #faf9ff;
}
/* classes */
.subnav-hero-section {
	background-color: #e24323;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.indexpng {
	width: 7%;
}

/* ids */
#pokemon-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#finalGeneratedPokemon {
  width: 15%;
  height: 15%;
  display: block;
	margin-left: auto;
	margin-right: auto;
}
#generatedPokemon {
	width: 80%;
  height: 80%;
  display: block;
	margin-left: auto;
	margin-right: auto;
}
#vs {
	margin-top: 50%;
	margin-left: 20%;
	width: 120px;
  height: 80px;
  display: block;
	margin-left: auto;
	margin-right: auto;
}
#return-main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
#next-page, #return-main, #confirm  {
  display: block;
	margin-left: auto;
	margin-right: auto;
}
#alert-message {
  font-size: 20px;
}
#confirm {
  background-color: #588edf;
}
#front-pg-padding {
  padding-top: 2rem;
}
